<div class="container">
  <!-- <div class="nav"> -->
    <ul class="nav nav-tabs">
      <a class="navbar-brand" href="/">Waddams Emporium</a>
      <li role="presentation">
        <% if current_admin?  %>
          <%= link_to "Welcome, Administrator...", admin_dashboard_path, class: "nav-item nav-link" %>
          <%= link_to "Orders", orders_path, class: "nav-item nav-link" %>
          <%= link_to "Logout", logout_path, method: :delete, class: "nav-item nav-link"%>

        <% elsif logged_in? %>
          <%= link_to "Welcome, #{current_user.username}...", dashboard_path, class: "nav-item nav-link" %>
          <%= link_to "Orders", orders_path, class: "nav-item nav-link" %>
          <%= link_to "Logout", logout_path, method: :delete, class: "nav-item nav-link"%>
        <% else %>
          <%= link_to "Login", login_path, class: "nav-item nav-link"%>
          <%= link_to "Create Account", new_user_path, class: "nav-item nav-link"%>
        <% end %>
      </li>
      <li role="presentation">
        <% if !cart_empty? %>
          <%= link_to "Cart", cart_path, class: "nav-item nav-link" %>
        <% end %>

        <%#= link_to "View Cart", cart_path, class: "nav-item nav-link" %>
      </li>
    </ul>
  <!-- </div> -->
</div>
