<%= @cart.items.each do |item| %>
  <div class="invoice_item">
    <div class="thumbnail">
      <%= link_to image_tag(item.image_url), item_path(item) %>
    </div>
    <p><%= item.title %></p>
    <p><%= item.description %></p>
    <p><%= number_to_currency(item.dollars) %></p>
    <%= link_to "Remove", item_path(item), method: :delete %>
  </div>
<% end %>

<div class="invoice_total">
  <p>Total: <%= number_to_currency(@cart.total_price) %></p>
</div>
