<div class="invoice_item">
<% @cart.items.each do |item| %>
    <div>
      <%= link_to image_tag(item.image_url, class: 'thumbnail' ), item_path(item)%>
    </div>
    <p>Title: <%= item.title %></p>
    <p>Description: <%= item.description %></p>
    <p>Price: <%= number_to_currency(item.dollars) %></p>
    <p>Quantity: <%= @cart.quantity(item.id) %></p>
    <p>Subtotal: <%= number_to_currency(@cart.subtotal(item.id)) %> </p>
    <%= button_to "+", cart_path(item_id: item.id, change_quantity: "increase"), method: :put %>
    <% if @cart.has_more_than_one(item.id) %>
      <%= button_to "-", cart_path(item_id: item.id, change_quantity: "decrease"), method: :put %>
    <% end %>
  <%= link_to "Remove", cart_path(item_id: item.id), method: :delete %>
<% end %>
</div>


<div class="invoice_total">
  <p>Total: <%= number_to_currency(@cart.total_price) %></p>
</div>

<% if logged_in? %>
  <%= button_to "Checkout", orders_path, class: 'btn btn-primary' %>
<% else %>
  <%= link_to "Login or Create Account to Checkout", login_path %>
<% end %>
