

<h2>All Items</h2>

<div class="row">
  <div class="col-md-4"><% @items.each do |item| %>
  <h4><%= item.title.capitalize %></h4>
    <div class="item">
      <p><%= number_to_currency(item.dollars) %></p>
      <p><%= image_tag item.image_url %></p>
      <p><%= button_to "Add to Cart", cart_path(item_id: item.id), class: 'btn-btn-success'  %></p>
    </div>
  <% end %>
  </div>

</div>



<%= link_to "View Cart", cart_path%>
