<h1>The All-Powerful Admin Dashboard</h1>

<%= @user.username %>

<%= link_to "Account", edit_admin_user_path, class: "btn btn-primary" %>

<h2>All Orders</h2>
<% @orders.each do |order| %>
  <%= link_to order.id, order_path(order)%></br>
<% end %>

<%= link_to "Ordered", admin_orders_ordered_path  %>: <%= @orders.ordered.count %></br>
<%= link_to "Paid", admin_orders_paid_path  %>: <%=
@orders.paid.count %></br>
<%= link_to "Cancelled", admin_orders_cancelled_path  %>: <%= @orders.cancelled.count %></br>
<%= link_to "Completed", admin_orders_completed_path  %>: <%= @orders.completed.count %></br>

<!-- iterate through all orders with a link to each order's show page -->
